<div class="contenedor">
    <div class="izquierda">

        <div class="carrusel-container">
            <img class="carrusel-image" [src]="imagenes[imagenActual]" alt="imagenesTuristicas">
        </div>
    </div>

    <div class="derecha">

        <button class="btnOptions" routerLink="/Consulta" >
            <p>Destinos Turísticos</p>
        </button>

        <button class="btnOptions" routerLink="/Formulario" >
            <p>Danos tu opinión</p>
        </button>
       
    </div>

</div>
